<tui-island [size]="'l'">
  <div class="header">
    <div class="tui-island__title" [align]="'center'">
      Welcome to Education Platform
    </div>
    <div class="tui-island__paragraph tui-text_body-s" [align]="'center'">
      Please sign-in to your account and start the adventure
    </div>
  </div>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <tui-input formControlName="email"
               required="true"
               [tuiTextfieldLabelOutside]="false"
               [tuiTextfieldSize]="'m'">
      Email
      <input type="text" tuiTextfield [placeholder]="'Enter your Email'">
    </tui-input>

    <tui-input-password formControlName="password"
                        required="true"
                        [tuiTextfieldLabelOutside]="false"
                        [tuiTextfieldSize]="'m'" >
      Password
      <input type="password" tuiTextfield [placeholder]="'Enter your Password'">
    </tui-input-password>

    <div class="tui-island__paragraph">
      <div class="tui-island__paragraph tui-island__paragraph_link">
        <a href="" tuiLink>Forgot password?</a>
      </div>
    </div>

    <button tuiButton
            class="tui-island__button"
            type="submit"
            [size]="'l'">
      Sign in
    </button>

    <div class="tui-island__paragraph tui-island__paragraph_link">
      Don't have an account?
      <a href="" tuiLink>Sign Up</a>
    </div>
  </form>

</tui-island>